<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Athena.IoC.Basic" version="1.0.0.0" targetFramework="MonoAndroid403" />
  <package id="Athena.Tasks" version="1.0.0.0" targetFramework="MonoAndroid403" />
  <package id="csharpSQLite" version="1.0.0.0" targetFramework="MonoAndroid403" />
</packages>